<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<title></title>

		<!--jQuery-->
		<script src="static/scripts/jquery-latest.min.js"></script>

		<!--Bootstrap-->
		<link rel="stylesheet" href="static/styles/bootstrap.min.css">
		<script src="static/scripts/bootstrap.min.js"></script>

		<!--Custom JavaScript-->
		<script src="static/scripts/main.js"></script>
	</head>

	<body>
		<div class="container-fluid">
			<br><br>

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h1>List Sorting Example</h1>
					<hr style="border-top:4px solid #eee">

					<br><br>

					<div class="input-group">
						<label>Enter a comma seperated list of strings (no spaces):</label>
						<input type="text" class="form-control" placeholder="list,of,items" id="input-list">
					</div>

					<br>

					<div class="row">
						<div class="col-md-6">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-primary active">
									<input type="radio" name="sort-options" id="asc" autocomplete="off" checked>Ascending
								</label>
								<label class="btn btn-primary">
									<input type="radio" name="sort-options" id="desc" autocomplete="off">Descending
								</label>
							</div>
						</div>

						<div class="col-md-6">
							<button type="button" class="btn btn-default btn-block" id="sort-btn" onclick="sort_list()">Sort</button>
						</div>
					</div>

					<br><br>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default" id="results-panel" hidden>
								<div class="panel-heading">
									<h3 class="panel-title">Sorted Results</h3>
								</div>
								<table class="table" id="results-table"></table>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>

</html>
